<section id="footer_section" class="background1">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center text-success p-2">
          <p>
            <i class="fa fa-copyright" aria-hidden="true"></i>
            <span>
              YoBroRahul
            </span>
          </p>
        </div>
      </div>
    </div>
  </footer>
</section>